<div class="container mt-5">

  <h1 class="titulo-pagina mb-4">

    <img
      src="veiculos.png"
      alt="Veículos"
      class="icone-titulo"
    >

    Veículos

  </h1>

  <!-- FORMULÁRIO -->
  <div class="card shadow mb-4">

    <div class="card-body">

      <h4 class="mb-4">

        @if(!editando){

          Cadastrar Veículo

        } @else {

          Editar Veículo

        }

      </h4>

      <!-- CLIENTE -->
      <div class="mb-3">

        <label class="form-label">

          Cliente

        </label>

        <select
          class="form-select"
          [(ngModel)]="novoVeiculo.cliente_id">

          <option [ngValue]="0">

            Selecione um cliente

          </option>

          @for(cliente of clientes; track cliente.id){

            <option [ngValue]="cliente.id">

              {{ cliente.nome }}

            </option>

          }

        </select>

      </div>

      <!-- CARD CLIENTE -->
      @if(novoVeiculo.cliente_id){

      <div class="card bg-light border mb-3">

        <div class="card-body">

          <h6 class="mb-2">

            Dados do Cliente

          </h6>

          <strong>Nome:</strong>

          {{
            clientes.find(
              c => c.id === novoVeiculo.cliente_id
            )?.nome
          }}

          <br>

          <strong>Telefone:</strong>

          {{
            clientes.find(
              c => c.id === novoVeiculo.cliente_id
            )?.telefone
          }}

        </div>

      </div>

      }

      <!-- MARCA -->
      <div class="mb-3">

        <label class="form-label">

          Marca

        </label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="novoVeiculo.marca"
        >

      </div>

      <!-- MODELO -->
      <div class="mb-3">

        <label class="form-label">

          Modelo

        </label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="novoVeiculo.modelo"
        >

      </div>

      <!-- PLACA -->
      <div class="mb-3">

        <label class="form-label">

          Placa (Ex: ABC1D23)

        </label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="novoVeiculo.placa"
          maxlength="7"
          placeholder="ABC1D23"
          style="text-transform: uppercase;"
        >

      </div>

      <!-- ANO -->
      <div class="mb-4">

        <label class="form-label">

          Ano

        </label>

        <input
          type="number"
          class="form-control"
          [(ngModel)]="novoVeiculo.ano"
        >

      </div>

      <!-- BOTÕES -->
      @if(!editando){

      <button
        class="btn btn-success"
        (click)="cadastrarVeiculo()">

        Cadastrar Veículo

      </button>

      } @else {

      <button
        class="btn btn-warning me-2"
        (click)="atualizarVeiculo()">

        Salvar Alterações

      </button>

      <button
        class="btn btn-secondary"
        (click)="limparFormulario()">

        Cancelar

      </button>

      }

    </div>

  </div>

  <!-- BOTÃO LISTA -->
  <button
    class="btn btn-outline-dark mb-4"
    (click)="toggleTabela()">

    @if (!mostrarTabela) {

      Ver Veículos

    } @else {

      Ocultar Veículos

    }

  </button>

  <!-- TABELA -->
  @if (mostrarTabela) {

  <div class="card shadow">

    <div class="card-body">

      <h4 class="mb-4">

        Lista de Veículos

      </h4>

      <table class="table table-bordered table-striped">

        <thead class="table-dark">

          <tr>

            <th>ID</th>
            <th>Cliente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Ano</th>
            <th>Ações</th>

          </tr>

        </thead>

        <tbody>

          @for (veiculo of veiculos; track veiculo.id) {

          <tr>

            <td>{{ veiculo.id }}</td>

            <td>

              {{ veiculo.cliente_nome }}

            </td>

            <td>{{ veiculo.marca }}</td>

            <td>{{ veiculo.modelo }}</td>

            <td>{{ veiculo.placa }}</td>

            <td>{{ veiculo.ano }}</td>

            <td>

              <button
                class="btn btn-warning btn-sm me-2"
                (click)="editarVeiculo(veiculo)">

                Editar

              </button>

              <button
                class="btn btn-danger btn-sm"
                (click)="excluirVeiculo(veiculo.id!)">

                Excluir

              </button>

            </td>

          </tr>

          }

        </tbody>

      </table>

    </div>

  </div>

  }

</div>