
h1, .container h1 {
  color: #000000 !important;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block; 
  position: relative;
  padding-bottom: 8px;
}


h1::after, .container h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;       
  height: 2px;      
  background-color: #0f172a; 
}


.form-label {
  color: #000000 !important;
  font-weight: 600;
  display: block;
  transition: all 0.2s ease-in-out; 
  transform-origin: left center;
}


.form-control {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ced4da;
  transition: all 0.3s ease;
}


.mb-3:focus-within > .form-label,
.mb-4:focus-within > .form-label {
  color: #1e3a8a !important; 
  transform: translateY(-3px) scale(1.05); 
}

.form-control:focus {
  border-color: #1e3a8a;
  box-shadow: 0 4px 12px rgba(30, 58, 138, 0.15);
  outline: none;
}


table.table {
  border-collapse: separate !important;
  border-spacing: 0;
  border: 2px solid #e5e7eb !important; 
  border-radius: 12px !important;       
  overflow: hidden;
  
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important; 
  margin-top: 15px;
}


table thead tr th {
  background-color: #0195eb !important; 
  color: #ffffff !important;            
  border-bottom: 2px solid #0185d1 !important; 
  border-right: 1px solid #0185d1 !important;  
  padding: 12px;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s ease;
}


table thead tr th:last-child {
  border-right: none !important;
}


table thead tr th:hover {
  background-color: #017fca !important; 
  cursor: pointer;
}


table tbody tr td {
  border-color: #cbd5e1 !important;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}


.titulo-pagina {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 2.5rem;
    font-weight: 700;

    margin-bottom: 25px;
}

.icone-titulo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.btn-cadastrar {
    background-color: #0195eb;
    border-color: #0195eb;
    color: white;
    font-weight: 500;
}

.btn-cadastrar:hover {
    background-color: #017fca;
    border-color: #017fca;
    color: white;
}

.cabecalho-tabela th {
    background-color: #0195eb;
    color: white;
    border-color: #0195eb;
}

.cabecalho-tabela th:hover {
    background-color: #017fca;
}